h2 {
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
}
h3 {
  font-size: 1.5rem;
  margin: 1.25rem 0 0.75rem 0;
}
p {
  font-size: 1.125rem;
  margin: 0.5rem 0;
}
code {
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
}
u {
  text-decoration: underline;
}
ol {
  margin: 1.5rem 0 1.5rem 4.5rem;
  list-style: decimal;
}
p {
  line-height: 1.75rem;
  font-size: 1.05rem;
}
